HRS.Projects.MySociety.WCFServiceClient/Service References/ResidentSvcReference/HRS.Projects.MySociety.BusinessObjects.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HRS.Projects.MySociety.BusinessObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HRS.Projects.MySociety.BusinessObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFlatBO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FlatBO" nillable="true" type="tns:FlatBO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFlatBO" nillable="true" type="tns:ArrayOfFlatBO" />
  <xs:complexType name="FlatBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="FlatId" type="xs:short" />
      <xs:element minOccurs="0" name="FlatName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoOfResidents" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FlatBO" nillable="true" type="tns:FlatBO" />
</xs:schema>