HRS.Projects.MySociety.WCFServiceClient/Service References/ResidentSvcReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/HRS.Projects.MySociety.BusinessObjects" />
  <xs:element name="GetFlatDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="societyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlatDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HRS.Projects.MySociety.BusinessObjects" minOccurs="0" name="GetFlatDetailsResult" nillable="true" type="q1:ArrayOfFlatBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestException">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestExceptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestExceptionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>